<h1 class="text-center bg-primary">My Product List</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let prod of myProducts">
      <div class="card">
        <img
          [src]="prod.images[0]"
          height="200"
          class="card-img-top"
          alt="image not there"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prod.title }}</h5>
          <p class="card-text">
            {{ prod.description }}
          </p>
          <p class="card-text">
            {{ prod.price }}
          </p>
          <button
            class="btn btn-primary"
            [routerLink]="['/productdetails']"
            [queryParams]="{
              title: prod.title,
              description: prod.description,
              price: prod.price
            }"
          >
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
