<p>formdemo1 works!</p>

<form #myForm="ngForm" (submit)="storeFormData(myForm)">
  FirstName:
  <input
    #firstName="ngModel"
    name="firstName"
    [(ngModel)]="registerForm.firstName"
    required
    minlength="3"
  />
  <span
    *ngIf="firstName.hasError('required') && firstName.dirty"
    class="text-danger"
    >Please fill First Name</span
  >
  <span
    *ngIf="firstName.hasError('minlength') && firstName.dirty"
    class="text-danger"
    >atleast 3 chars required</span
  >
  <br />
  lastName:
  <input name="lastName" ngModel [(ngModel)]="registerForm.lastName" /><br />
  Email:
  <input name="email" ngModel /><br />

  <fieldset ngModelGroup="address">
    Street:
    <input name="street" ngModel /><br />
    City:
    <input name="city" ngModel [(ngModel)]="registerForm.address.city" /><br />
    pin:
    <input name="pin" ngModel /><br />
  </fieldset>

  <input type="submit" value="submit" [disabled]="myForm.invalid" />
  <input type="reset" value="clear" />
</form>

<h3>{{ myForm.value | json }}</h3>
