<h1 class="text-center bg-primary">User List</h1>
<!-- <button class="btn-success" on-click="getUsers()">get users</button> -->
<hr />
<table class="table table-bordered table-striped" *ngIf="!isLoading">
  <tbody>
    <tr *ngFor="let user of allUsers">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address.city }}</td>
      <td>
        <button
          class="btn btn-primary"
          [routerLink]="['/userdetails', user.id]"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border" role="status"></div>
</div>
