<p>formdemo2 works!</p>

<form [formGroup]="registerForm">
  FirstName:
  <input type="text" formControlName="firstname" />
  <span
    class="text-danger"
    *ngIf="
      registerForm.controls.firstname.hasError('required') &&
      registerForm.controls.firstname.dirty
    "
  >
    Name Required
  </span>
  <span
    class="text-danger"
    *ngIf="
      registerForm.controls.firstname.hasError('minlength') &&
      registerForm.controls.firstname.dirty
    "
  >
    Minimum 3 chars required
  </span>
  <span
    class="text-danger"
    *ngIf="
      registerForm.controls.firstname.hasError('pattern') &&
      registerForm.controls.firstname.dirty
    "
  >
    Pattern not correct/ only alphabates allowed
  </span>
  <br />

  LaststName:
  <input type="text" formControlName="lastname" />
  <span
    class="text-danger"
    *ngIf="
      registerForm.controls.lastname.hasError('required') &&
      registerForm.controls.lastname.dirty
    "
  >
    lastname Required
  </span>
  <span
    class="text-danger"
    *ngIf="
      registerForm.controls.lastname.hasError('minlength') &&
      registerForm.controls.lastname.dirty
    "
  >
    Minimum 3 chars required
  </span>
  <br />
  Email:
  <input type="email" formControlName="email" /><br />
  <fieldset formGroupName="address">
    Street:
    <input type="text" formControlName="street" /><br />
    City:
    <input type="text" formControlName="city" /><br />
    PIN:
    <input type="text" formControlName="pin" /><br />
  </fieldset>

  <input type="submit" value="Submit" />
  <input type="reset" value="clear" />
</form>
