<div class="center">
  <!-- this is center component -->
  <!-- <app-login></app-login> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-greet>
    <div>Hi Sanjay, Good Morning</div>
  </app-greet>
  <hr />
  <app-greet>
    <div>Hi Sachin, Good Evening</div>
  </app-greet> -->
  <!-- <button (click)="func1()">click me</button> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-math></app-math> -->
  <!-- <app-ajax-demo1></app-ajax-demo1> -->
  <!-- <app-user></app-user> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2>
  <app-observable-demo3></app-observable-demo3> -->
  <!-- <app-formdemo1></app-formdemo1> -->
  <!-- <app-formdemo2></app-formdemo2> -->
  <!-- <app-formdemo3></app-formdemo3> -->
  <router-outlet></router-outlet>
</div>
