<p>form2 works!</p>
<form [formGroup]="registerForm">
  FirstName: <input formControlName="firstname" />
  LastName:
  <input formControlName="lastname" /> Email: <input formControlName="email" />

  <fieldset formGroupName="address">
    street: <input formControlName="street" />
    city:
    <input formControlName="city" />
    pin: <input formControlName="pin" />
  </fieldset>

  <input type="submit" value="submit" [disabled]="registerForm.invalid" />
  <input type="reset" value="clear" />
</form>

<h2>{{ registerForm.value | json }}</h2>
