<div class="container-fluid">
  <div class="row parent">
    <div>I am Parent Component</div>
    <input type="text" #myInputBox />
    <div>my own data a is: {{ a }}</div>
    <div>my child1's car is {{ child1.cars }}</div>
    <div>my Childs product data is {{ product | json }}</div>
    <button (click)="a = a + 1">increment A</button>
    <button (click)="user.name = 'Sanjay Samantra'">Update user name</button>
    <hr />
    <div class="col-6">
      <app-child1 [a]="a" #child1></app-child1>
    </div>
    <div class="col-6">
      <app-child2
        [a]="a"
        [userObj]="user"
        [child1]="child1"
        (myEvent)="getDataFromChild($event)"
      ></app-child2>
    </div>
  </div>
</div>
